@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #d6d6d6;
}

body {
  font-family: 'Work Sans',sans-serif;
  background-color: var(--bg-color);
}

[class*="__container"] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 40px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__logo {
  max-width: 200px;
}

.header__logo img {
  max-width: 100%;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 75px;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--text-color);
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
  position: relative;
}

.menu__link:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: opacity .2s;
          transform: opacity .2s;
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #ffff;
  }
  .menu__link:hover:before {
    opacity: 1;
    visibility: visible;
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

@media (any-hover: hover) {
  .login:hover {
    background-color: var(--accent-color);
  }
}

.header__btn {
  padding: 11px 20px;
  color: #fff;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  cursor: pointer;
}

.register {
  background-color: var(--accent-color);
}

@media (any-hover: hover) {
  .register:hover {
    background-color: transparent;
  }
}
